@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
// beware, you don't include the downloaded fonts!


body {
	font-family: 'Open Sans Condensed', sans-serif;
	margin: 0;
	padding: 0;
	color: #161616;
	text-align: center;
}

a {
	color: #161616;
	text-decoration: none;
}

:focus {outline:none;}

.intro-container {
	
	position: absolute;
	left: 50%;
	top: 40%;
	transform: translate(-50%, -50%);
	
	.intro-text {
		background-color: rgba(0,0,0,0);
		width: 300px;
		border: 1px solid #161616;
	}

	.continue-to-page {

		margin-top: 30px;

		button {
			background-color: rgba(0,0,0,0);
			padding: 8px 12px;
			border: 1px solid #161616;
			outline: 0px;

			&:hover {
				background-color: #f2f2f2;
			}
		}
	}
}

.diy-slideshow {
  position: relative;
  display: block;
  overflow: hidden;
  margin-top: 50%;
}

figure {
  position: absolute;
  opacity: 0;
  transition: 1s opacity;
}

figure.show {
  opacity: 1;
  position: static;
  transition: 1s opacity;
}

.next, .prev {
  color: #131313;
  position: absolute;
  top: 50%;
  z-index: 1;
  font-size: 2em;
  margin-top: -.75em;
  opacity: .5;
  user-select: none;
}

.next:hover, .prev:hover {
  cursor: pointer;
  opacity: 1;
}

.next {
  right: 6px;
  padding: 10px 5px 15px 10px;
}

.prev {
  left: 6px;
  padding: 10px 10px 15px 5px;
}

p {
  margin: 10px 20px;
  color: #fff;
}

.slideshow-headline {

	position: absolute;
	left: 0; 
  right: 0;
  top: 20%;
  margin: 0px auto;
  width: 100%;

	h2 {
		opacity: 0.8; 
		font-size: 20px;
	}
}

.home-selection {
	position: absolute;
	top: 20%;
	left: 0; 
  right: 0;
	margin: 0px auto;

	h2 {
		font-size: 40px;
		opacity: 0.5;
		&:hover {
			transition: all 0.5s ease;
			opacity: 1;
		}
	}
}